<div class="container">
  <div class="connect fluid">
    <h3>Connect with Yinkazo</h3>
    <ul>
      <li><a href=""><img src="../../../assets/svg/linkedin-161-svgrepo-com.svg" alt=""></a></li>
      <li><a href=""><img src="../../../assets/svg/twitter-color-svgrepo-com.svg" alt=""></a></li>
      <li><a href=""><img src="../../../assets/svg/instagram-1-svgrepo-com.svg" alt=""></a></li>
    </ul>
  </div>
  <div class="links fluid">
    <div class="links_pages">
      <h3>Pages</h3>
      <ul>
        <li><a href="">Profile</a></li>
        <li><a href="">Track Records</a></li>
        <li><a href="">Achievements</a></li>
        <li><a href="">Manifesto</a></li>
        <li><a href="">Compssa Election</a></li>
      </ul>
    </div>
  </div>
  <div class="build fluid">
    <p>Build by <span>Ilium</span>:</p>
    <ul>
      <li><a href=""><img src="../../../assets/svg/linkedin-161-svgrepo-com.svg" alt=""></a></li>
      <li><a href=""><img src="../../../assets/svg/github-142-svgrepo-com.svg" alt=""></a></li>
      <li><a href=""><img src="../../../assets/svg/twitter-color-svgrepo-com.svg" alt=""></a></li>
    </ul>
  </div>
</div>
