<div class="container">
  <div class="connect fluid">
    <h3>Connect with Yinkazo</h3>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/akinolaolayinka18?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="__blank">
          <img src="../../../assets/svg/linkedin-svgrepo-com.svg" alt="Yinkazo linkedin">
        </a>
      </li>
    </ul>
  </div>
  <div class="links fluid">
    <div class="links_pages">
      <h3>Pages</h3>
      <ul>
        <li><a href="">Profile</a></li>
        <li><a href="">Track Records</a></li>
        <li><a href="">Achievements</a></li>
        <li><a href="">Manifesto</a></li>
        <li><a href="">Compssa Election</a></li>
      </ul>
    </div>
  </div>
  <div class="build fluid">
    <p>Build by <span>Ilium</span>:</p>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/muili-kazeem-5548491a6/" target="__blank">
          <img src="../../../assets/svg/linkedin-svgrepo-com.svg" alt="Ilium linkedin">
        </a>
      </li>
      <li>
        <a href="https://github.com/Muili-Kazeem" target="__blank">
          <img src="../../../assets/svg/github-142-svgrepo-com.svg" alt="ilium github">
        </a>
      </li>
      <li>
        <a href="https://x.com/MuheelO?t=NG1fsHV1vgm4ld_kEG40Eg&s=09" target="__blank">
          <img src="../../../assets/svg/twitter-color-svgrepo-com.svg" alt="ilium twitter">
        </a>
      </li>
    </ul>
  </div>
</div>
