<div class="container">
  <h2>Achievements</h2>
  <div class="achievements_wrapper" #features>
    <section class="section two" #card>
      <div class="section__description">
          <h2>One of a Kind-A-thon</h2>
          <p>Yinkazo has done beyond the ink as the General Secretary of COMPSSA. This will be the first time the office of the General Secretary will organize a first of its kind event which is the COMPSSA Pitch-A-thon Inter-departmental Competition. The Competition was attended by over 250 students and it was a huge success.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka2.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section" #card>
      <div class="section__description">
          <h2>Block Representatives</h2>
          <p>Yinkazo in conjunction with the welfare secretary appointed Block representatives and further created a group chat that links all Block Representatives to the Head porter for swift response to students' complaints.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinkazo.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section" #card>
      <div class="section__description">
          <h2>Alumni Architect</h2>
          <p>A visionary in connectivity, Yinkazo pioneered the Alumni section of the COMPSSA Database. This foresighted initiative ensures a perpetual bond with graduates from our esteemed College, fostering a sense of community long after they leave the four walls of this prestigious college.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/College_secretary.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section" #card>
      <div class="section__description">
          <h2>Record Keeper Extraordinaire</h2>
          <p>Yinkazo established meticulous record-keeping practices for Secretariat letters, both in hard and soft copy forms. This commitment to organizational excellence guarantees efficient retrieval and preserves our institutional memory.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka1.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section two" #card>
      <div class="section__description">
          <h2>Financial Maestro</h2>
          <p>Yinkazo's financial acumen shone through the realm of COMPSSA Finances. A strategic mind, he significantly elevated dues collection from 50% to a remarkable 90%. This achievement was fueled by his innovative approach of intertwining hostel payments with dues, creating a streamlined and efficient financial system.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka2.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section two" #card>
      <div class="section__description">
          <h2>Social Architect</h2>
          <p>Yinkazo contributed significantly to extending the hours for social gatherings, transforming the New Great Hall and Multipurpose court into lively hubs from 9 pm to 11 pm and 7 pm to 9 pm, respectively. His proactive approach and facilitation ensured the seamless realization of this extension, enhancing the vibrant social fabric of our community.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka1.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section two" #card>
      <div class="section__description">
          <h2>Stall Strategist</h2>
          <p>A driving force behind the COMPSSA Complex Management Subcommittee, Yinkazo played a crucial role in realizing the OPH stall. His efforts contributed to creating a sophisticated and fitting selling environment that enhances our collective pride.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka2.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section two" #card>
      <div class="section__description">
          <h2>Security Sentinel</h2>
          <p>Taking proactive measures, Yinkazo addressed security concerns by personally repairing window locks in the Cold room. Advocating for additional protective measures like burglary-proof windows showcases a dedication to safeguarding our assets.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka1.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section two" #card>
      <div class="section__description">
          <h2>Ardent Communicator</h2>
          <p>Yinkazo swiftly attend to COMPSSAites' complaints via any channel of communication including the COMPSSA mail.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka2.jpg" class="bg" alt="achievement">
      </div>
    </section>

    <section class="section two" #card>
      <div class="section__description">
          <h2>Empathetic Leader</h2>
          <p>Yinkazo fought for the immediate reversal of food price hike issue that happened at the OPH stall sometime ago and ensured that the proper channel of price increase was followed. He's also written for the establishment of Price control Committee(PCC) which is currently in process.</p>
      </div>
      <div class="bcg">
        <img src="../../../assets/img/yinka1.jpg" class="bg" alt="achievement">
      </div>
    </section>
  </div>
</div>

<div class="tok">
  <section class="one">
    <h3>FROM THE <br> TABLE OF KNOWLEDGE</h3>
    <p>In Yinkazo's role as the General Secretary in the outgoing administration, he's always made it his priority to ensure that all students are comfortable irrespective of their department.</p>
    <p>Every department has had its fair share of inconsiderate policies made by the school management and the administration in which Yinkazo played a major role ensured that we liaise with the school management to ensure fair treatment for all the students.</p>
    <p>
      One such incident was when the school management requested Physiology, Pharmacy, Pharmacology, Nursing, Radiography, Medical Laboratory Science, and Physiotherapy to make a new accommodation payment before the end of their second-semester examinations and even tied the payment to their eligibility for the second-semester examinations. Yinkazo played an active role alongside other members of the executive council, in mobilizing the presidents of the affected departments to appeal for an extension to the payment deadline.
      The management rejected the appeal and to ensure that students are not left stranded during examinations, Yinkazo took it upon himself to write a similar appeal to the management to stall the process of evicting the affected students, and he succeeded in stalling the eviction.
    </p>
    <p>
      There was also the incident where the just-inducted MBDS students were locked outside their rooms, Yinkazo joined the president in making calls to the School Management to ensure that they were not denied entry into the hostel.
    </p>
  </section>
  <section class="two">
    <p class="enlarge">
      So, in Yinkazo's role in the outgoing administration, he has made it his utmost priority to be fair to students of all departments and will continue to do so.
    </p>
    <p>
      I implore you not to be brainwashed by the agenda that as a student of Medicine and Surgery in this prestigious College, Yinkazo would be biased toward any department under COMPSSA.
      The COMPSSA president is elected to serve everyone, and not just MBBS or Pharmacy. And as someone who's an experienced leader, Yinkazo pledges to make it his mantra that all decisions are made in the interest of all COMPSSAites.
    </p>
  </section>
  <section class="three">
    <p class="enlarge">
      Yinkazo has done legacy projects for COMPSSA which includes the first ever COMPSSA Pitch-A-thon Inter-departmental Competition and the COMPSSA website
    </p>
    <p>
      Yinkazo pledges to continue to serve COMPSSA and put her first if elected as the president.
      There will be no false promises and Yinkazo won't promise you what he won't or can't do. I would implore everyone to also attend the manifesto where Yinkazo would be elaborating his plans and a workable implementation strategy to take COMPSSA beyond limits.
    </p>
  </section>
</div>

<p class="center">
  God bless you all
</p>
