<div class="container">
  <div class="hero">
    <div class="bg_img">
      <!-- <img src="../../../assets/img/yinka1.png" alt=""> -->
    </div>
    <h2>Akinola Olayinka</h2>
    <p>A voice for every compssaites</p>
  </div>
  <div class="about">
    <div class="about_img">
      <img src="../../../assets/img/yinka2.jpg" alt="">
    </div>
    <div class="about_info">
      <h2>About</h2>
      <div>
        <h3>Bringing bla bla bla to life</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat rem nihil ad ea blanditiis aperiam alias vitae porro magnam dolores beatae temporibus cumque illum, dicta minus, vel quisquam odit veritatis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi reprehenderit asperiores cupiditate perspiciatis aliquid, unde enim quo natus, reiciendis consequatur ea et vero ipsa id nihil. Sint ex ipsa laborum.</p>
      </div>
    </div>
  </div>

  <div class="records">
    <header class="records_header">
      <h2>Track records</h2>
      <a href="/achievement"> <mat-icon>arrow_outward</mat-icon> See all</a>
    </header>
    <div class="records_content">
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Compssa_logo.png" alt="">
          </div>
          <h3>COMPSSA</h3>
        </div>
        <p>General Secretary, COMPSSA <span>(2023 - Present)</span></p>
      </div>
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Compssa_logo.png" alt="Compssa_logo">
          </div>
          <h3>COMPSSA</h3>
        </div>
        <p>Chairman of the COMPSSA Internal and External Committee <span>(2020/2021)</span></p>
      </div>
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Cmul_logo.png" alt="CMUL_logo">
          </div>
          <h3>CMUL</h3>
        </div>
        <p>Member of the Library Committee, College of Medicine, University of Lagos <span>(2021/2022)</span></p>
      </div>
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Amsul_logo.png" alt="Amsul_logo">
          </div>
          <h3>AMSUL</h3>
        </div>
        <p>Member the Budget and Planning Committee in the Association of Medical Students University of Lagos <span>(2018/2019)</span></p>
      </div>
      <div class="mobile_bottom">
        <a href="/achievement"> <mat-icon>arrow_outward</mat-icon> See all</a>
      </div>
    </div>
    <div class="records_img">
      <img src="../../../assets/img/yinka2.jpg" alt="">
    </div>
  </div>

  <div class="achievements">
    <header>
      <h2>Achievements</h2>
      <a href="/achievement"> <mat-icon>arrow_outward</mat-icon> See all</a>
    </header>
    <div class="row_container">
      <div class="achievement">
        <div class="achievement_img">
          <img src="../../../assets/img/yinka2.jpg" alt="">
        </div>
        <h3>Food Price Hike</h3>
        <p>Yinkazo fought for the immediate reversal of food price hike issue that happened at the OPH stall sometime ago and ensured that the proper channel of price increase was followed. He's also written for the establishment of Price control Committee(PCC) which is currently in process.</p>
      </div>
      <div class="achievement">
        <div class="achievement_img">
          <img src="../../../assets/img/yinka2.jpg" alt="">
        </div>
        <h3>Compssa Mail</h3>
        <p>Yinkazo swiftly attend to COMPSSAites' complaints via any channel of communication including the COMPSSA mail</p>
      </div>
      <div class="achievement">
        <div class="achievement_img">
          <img src="../../../assets/img/yinka2.jpg" alt="">
        </div>
        <h3>Block Representatives</h3>
        <p>Yinkazo in conjunction with the welfare secretary appointed Block representatives and further created a group chat that links all Block Representatives to the Head porter for swift response to students' complaints</p>
      </div>
    </div>
    <div class="mobile_bottom">
      <a href="/achievement"> <mat-icon>arrow_outward</mat-icon> See all</a>
    </div>
  </div>
  <div class="compssa">
    <div class="compssa_header">
      <h2>compssa</h2>
      <p>Together, <br> with our votes, let's make compssa great once again</p>
    </div>
    <a href="/compssa"> Compssa election <mat-icon>chevron_right</mat-icon></a>
  </div>
</div>
