<div class="container">
  <div class="hero">
    <div class="bg_img">
      <img src="../../../assets/img/yinka1-crop.png" alt="yinkazo">
    </div>
    <div class="hero_info">
      <h2>Akinola <br> Olayinka</h2>
      <p>A voice for every compssaite</p>
    </div>
  </div>
  <div class="about">
    <div class="about_img">
      <img src="../../../assets/img/yinka2.jpg" alt="">
    </div>
    <div class="about_info">
      <h2>About</h2>
      <div>
        <h3>Meet Akinola Olayinka</h3>
        <p>A highly motivated and dedicated medical student of College of Medicine, University of Lagos who is highly organized and fully committed to learning and leading within a dynamic environment. I am of strong academic background, multi-faceted , efficient and reliable.
          As a seasoned professional with a passion for leadership and a proven track record, I bring a quite an astonishing unique blend of skills and qualities to the table. With a commitment to fostering collaborative environments and driving organizational success, I thrive in dynamic settings where strategic thinking and effective communication are paramount.
          I am also adaptable and able to work effectively in quite inter-disciplinary teams.</p>
      </div>
    </div>
  </div>

  <div class="records">
    <header class="records_header">
      <h2>Track records</h2>
      <a href="/record"> <mat-icon>arrow_outward</mat-icon> See all</a>
    </header>
    <div class="records_content">
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Compssa_logo.png" alt="">
          </div>
          <h3>COMPSSA</h3>
        </div>
        <p>General Secretary, COMPSSA <span>(2023 - Present)</span></p>
      </div>
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Compssa_logo.png" alt="Compssa_logo">
          </div>
          <h3>COMPSSA</h3>
        </div>
        <p>Chairman of the COMPSSA Internal and External Committee <span>(2020/2021)</span></p>
      </div>
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Cmul_logo.png" alt="CMUL_logo">
          </div>
          <h3>CMUL</h3>
        </div>
        <p>Member of the Library Committee, College of Medicine, University of Lagos <span>(2021/2022)</span></p>
      </div>
      <div class="record">
        <div class="record_org">
          <div class="org_logo">
            <img src="../../../assets/logo/Amsul_logo.png" alt="Amsul_logo">
          </div>
          <h3>AMSUL</h3>
        </div>
        <p>Member the Budget and Planning Committee in the Association of Medical Students University of Lagos <span>(2018/2019)</span></p>
      </div>
      <div class="mobile_bottom">
        <a href="/record"> <mat-icon>arrow_outward</mat-icon> See all</a>
      </div>
    </div>
    <div class="records_img">
      <img src="../../../assets/img/jci outreach.jpg" alt="">
    </div>
  </div>

  <div class="achievements">
    <header>
      <h2>Achievements</h2>
      <a href="/achievement"> <mat-icon>arrow_outward</mat-icon> See all</a>
    </header>
    <div class="row_container">
      <div class="achievement">
        <div class="achievement_img">
          <img src="../../../assets/img/yinkazo.jpg" alt="">
        </div>
        <h3>Financial Maestro</h3>
        <p>Yinkazo's financial acumen shone through the realm of COMPSSA Finances. A strategic mind, he significantly elevated dues collection from 50% to a remarkable 90%. This achievement was fueled by his innovative approach of intertwining hostel payments with dues, creating a streamlined and efficient financial system.</p>
      </div>
      <div class="achievement">
        <div class="achievement_img">
          <img src="../../../assets/img/pitchathlon.jpg" alt="">
        </div>
        <h3>One of a Kind-A-thon</h3>
        <p>Yinkazo has done beyond the ink as the General Secretary of COMPSSA. This will be the first time the office of the General Secretary will organize a first of its kind event which is the COMPSSA Pitch-A-thon Inter-departmental Competition. The Competition was attended by over 250 students and it was a huge success.</p>
      </div>
      <div class="achievement">
        <div class="achievement_img">
          <img src="../../../assets/img/College_secretary.jpg" alt="">
        </div>
        <h3>Alumni Architect</h3>
        <p>A visionary in connectivity, Yinkazo pioneered the Alumni section of the COMPSSA Database. This foresighted initiative ensures a perpetual bond with graduates from our esteemed College, fostering a sense of community long after they leave the four walls of this prestigious college.</p>
      </div>
    </div>
    <div class="mobile_bottom">
      <a href="/achievement"> <mat-icon>arrow_outward</mat-icon> See all</a>
    </div>
  </div>
  <div class="compssa">
    <div class="compssa_header">
      <h2>compssa</h2>
      <p>Together, <br> with our votes, let's make compssa great once again</p>
    </div>
    <a href="/compssa"> Compssa election <mat-icon>chevron_right</mat-icon></a>
  </div>
</div>
