.wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

app-nav-bar {
  position: fixed;
  width: inherit;
  max-width: inherit;
  z-index: 101;
}

router-outlet {
  height: max-content;
}

@media (max-width: 800px) {

}
