<div class="container">
  <h2>Track records</h2>
  <div class="records_wrapper">
    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Compssa_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>COMPSSA</h3>
        <p>General Secretary, COMPSSA <span>(2023)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Compssa_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>COMPSSA</h3>
        <p>Chairman of the COMPSSA Pitch-A-thon Committee <span>(2023)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Compssa_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>COMPSSA</h3>
        <p>Member of the COMPSSA Complex Management Committee <span>(2021/2022)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Compssa_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>COMPSSA</h3>
        <p>Chairman of the COMPSSA Internal and External Committee <span>(2020/2021)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Cmul_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>CMUL</h3>
        <p>Member of the Library Committee, College of Medicine, University of Lagos <span>(2021/2022)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Amsul_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>AMSUL</h3>
        <p>Mentor at the Association of Medical Students, University of Lagos (AMSUL) mentorship Programme <span>(2021/2022)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Amsul_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>AMSUL</h3>
        <p>Member of the Association of Medical Students, University of Lagos(AMSUL) senate <span>(2019/2020)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Amsul_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>AMSUL</h3>
        <p>Mentor at the Association of Medical Students, University of Lagos (AMSUL) mentorship Programme <span>(2021/2022)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/Amsul_logo.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>AMSUL</h3>
        <p>Member the Budget and Planning Committee in the Association of Medical Students University of Lagos <span>(2018/2019)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/osmsa.webp" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>OSMSA</h3>
        <p>Member of the Ondo State Medical Students Association (OSMSA) electoral committee <span>(2023)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/jci.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>JCI</h3>
        <p>Medical Volunteer, Junior Chambers International Outreaches <span>(2023)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/scoph.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>SCOPH</h3>
        <p>Member of the Standing Committee on Public Health (SCOPH) <span>(2022/2023)</span></p>
      </div>
    </div>

    <div class="record">
      <div class="record_img">
        <img src="../../../assets/logo/scora.png" alt="compssa logo">
      </div>
      <div class="record_info">
        <h3>SCORA</h3>
        <p>Member of the Standing Committee on Sexual and Reproductive Health Right Including HIV/Aids (SCORA) in the Nigerian Medical Students' Association <span>(2018/2019)</span></p>
      </div>
    </div>
  </div>
</div>
